<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>glTF Asset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-GLTF</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.glb</string>
				<string>org.khronos.gltf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wavefront OBJ</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-OBJ</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.geometry-definition-format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>STL Model</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-STL</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.standard-tesselated-geometry-format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Universal Scene Description</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-USD</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixar.universal-scene-description</string>
				<string>com.pixar.universal-scene-description-utf8</string>
				<string>com.pixar.universal-scene-description-binary</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>USDZ Asset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-USDZ</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixar.universal-scene-description-mobile</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>COLLADA Asset</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-DAE</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.collada.digital-asset-exchange</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Polygon File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-PLY</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.polygon-file-format</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Alembic Cache</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-ABC</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.alembic</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FBX Scene</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon-FBX</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.autodesk.mac.fbx</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
